# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/**/key.properties
android/**/keystore.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

*.iml

.metadata
